.venv
.vscode

simulation/
debug/

# Vivado ignores (keep just .xpr and the .srcs folder)
vivado/**/*.cache/
vivado/**/*.hw/
vivado/**/*.ip_user_files/
vivado/**/*.runs/
vivado/**/*.sim/
*.dcp

**/__pycache__