(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    waves: Some((
        source: File("simulation\\vunit_out\\test_output\\lib.ps2_transceiver_tb.all_04a51d3b74a4c7c294dcc342bdce653d36aa81e8\\ghdl\\wave.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "ps2_transceiver_tb",
                "inst_uut",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                        ],
                    ),
                    name: "rx_busy",
                ),
                color: None,
                background_color: None,
                display_name: "rx_busy",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "ps2_clk_clean",
                ),
                color: None,
                background_color: None,
                display_name: "ps2_clk_clean",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "shiftreg_counter",
                ),
                color: None,
                background_color: None,
                display_name: "shiftreg_counter [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                        ],
                    ),
                    name: "rx_data",
                ),
                color: None,
                background_color: None,
                display_name: "rx_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                        ],
                    ),
                    name: "ps2_data",
                ),
                color: None,
                background_color: None,
                display_name: "ps2_data",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "inhibit_counter_reset",
                ),
                color: None,
                background_color: None,
                display_name: "inhibit_counter_reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "shiftreg",
                ),
                color: None,
                background_color: None,
                display_name: "shiftreg [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary (with groups)"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "clk_ena_1us",
                ),
                color: None,
                background_color: None,
                display_name: "clk_ena_1us",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "current_state",
                ),
                color: None,
                background_color: None,
                display_name: "current_state",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "ps2_data_clean",
                ),
                color: None,
                background_color: None,
                display_name: "ps2_data_clean",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                        ],
                    ),
                    name: "ps2_clk",
                ),
                color: None,
                background_color: None,
                display_name: "ps2_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "rx_parity",
                ),
                color: None,
                background_color: None,
                display_name: "rx_parity",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                        ],
                    ),
                    name: "rx_done",
                ),
                color: None,
                background_color: None,
                display_name: "rx_done",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                        ],
                    ),
                    name: "rx_error",
                ),
                color: None,
                background_color: None,
                display_name: "rx_error",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "inhibit_counter",
                ),
                color: None,
                background_color: None,
                display_name: "inhibit_counter [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Group((
                name: "PS2 Trainsceiver Internals",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ps2_transceiver_tb",
                            "inst_uut",
                        ],
                    ),
                    name: "ps2_clk_falling",
                ),
                color: None,
                background_color: None,
                display_name: "ps2_clk_falling",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 26,
        viewports: [
            (
                curr_left: (-0.004),
                curr_right: (0.996),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            541662246,
            35,
        ])),
        markers: {},
        focused_item: Some((6)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: true,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)